{{% extends 'main/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'quizapp/css/quiz.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'main/css/base.css' %}" />
<!--<script type="text/javascript" src="{% static 'quizapp/js/scripts.js' %}"></script>-->

{% endblock css %}


{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - 지구지글 퀴즈 예시</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://raw.githubusercontent.com/jchamill/jquery-quiz/master/src/jquery.quiz.css'>
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'quizapp/css/style.css' %}" />


</head>

<body>
    <!-- partial:index.partial.html -->
    <div id="quiz">
        <div id="quiz-header">
            <h1>지구지글 환경퀴즈</h1>
            <p class="faded">알쏭달쏭 헷갈리는 환경 퀴즈?<br>
                본인의 지식를 확인해보며 포인트도 얻자 !</p>
        </div>
        <section>
            <div id="quiz-start-screen">
                <p><a href="#" id="quiz-start-btn" class="quiz-button">Start</a></p>
            </div>
        </section>
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://jchamill.github.io/jquery-quiz/jquery.quiz-min.js'></script>
    <!-- <script src="./script.js"></script> -->
    <script type="text/javascript" src="{% static 'quizapp/js/scripts.js' %}"></script>


</body>

</html>


{% endblock %}