{% extends 'main/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'challengeapp/css/styles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'challengeapp/css/mypage.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'challengeapp/css/common.css' %}" />
{% endblock css %}

{% block content %}

<div class="allbox">
  <section class="page-section container font-green text-center" id="challenge">
    <div class>
      <article class>
        <div class="container">
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"></h2>
        </div>
      </article>

      <!-- 제목부분. 챌린지 사진과 이름 등 -->
      <article class="my-content-article container">
        <div class="my-content">
          <div class="my-title">
            <div class="my-img-b">
              <!--  프로필 사진 -->
              <!-- <img class="my-img" src="{% static 'challengeapp/img/용기내.png' %}" alt="?"> -->
              {% if user.is_authenticated %}
              {% if user.profile_image %}
              <img src="{{ user.profile_image.url }}" width="250" height="250" alt="profile_image" class="my-img">
              {% else %}
              <img class="my-img" src="{% static 'userapp/img/profile.png' %}" alt="{{user.nickname}}">
              {% endif %}
              {% endif %}
              <div class="my-exp">
                <h4>{{ user.nickname }} 님 환영합니다!</h4>
                <br>
                <p>이메일 : {{ user.email }}</p>
                <p>시작일 : {{ user.date_joined }}</p>
                <br>

              </div>
              <!-- 참여중인 챌린지가 없다면 -->
            </div>
          </div>
          <br><br><br>


          <!-- 사과나무(도장) -->
          <div class="container">
            <div class="appletree">
              <!-- 사과나무 틀 -->
              <img class="tree" src="{% static 'challengeapp/img/mypage-tree.png' %}" alt="tree">
              <!-- 사과도장 -->
              <!-- <img class="apple" src="{% static 'challengeapp/img/사과도장.png' %}" alt="apple"> -->
            </div>

          </div>


        </div>
      </article>

      <!-- mypage, badge, activity가 사용하는 aside -->
      <article class="aside-article">
        <div class="my-aside">
          <div class="my">
            <!-- 설정한 프로필 사진 보이기 -->
            <!-- <img class="aside-profile" src="{% static 'challengeapp/img/profile.png' %}" alt="{{user.nickname}}"> -->
            {% if user.is_authenticated %}
            {% if user.profile_image %}
            <img src="{{ user.profile_image.url }}" width="250" height="250" alt="profile_image" class="aside-profile">
            {% else %}
            <img class="aside-profile" src="{% static 'userapp/img/profile.png' %}" alt="{{user.nickname}}">
            {% endif %}
            {% endif %}
            <br> <br>
            <p class="my-aside-p">{{ user.nickname }}</p>
          </div>
          <hr class="my-aside-hr">
          <div class="my-aside-b">
            <!-- <button type="button" class="my-aside-btn">Profile</button>
                      <button type="button" class="my-aside-btn">Quiz note</button>
                      <button type="button" class="my-aside-btn">Badge</button>
                      <button type="button" class="my-aside-btn">Activity</button> -->
            <p class="my-aside-btn"><a href="{% url 'editinfo' %}" class="btn-intro">Profile</a></p>
            <p class="my-aside-btn"><a href="{% url 'quiznote' %}" class="btn-intro">Quiznote</a></p>
            <p class="my-aside-btn"><a href="{% url 'badge' %}" class="btn-intro">Badge</a></p>
            <p class="my-aside-btn"><a href="{% url 'activity' %}" class="btn-intro">Activity</a></p>

          </div>
        </div>
      </article>

    </div>
  </section>
</div>




{% endblock %}