body {
    background: white;
    color: black;
  }
  h1 {
    /* color: #8ABC8D; */
  }
  .faded {
      font-size: 25px;
      color: #777;
  }
  #quiz-counter {
    color: #8ABC8D;
  }
  .quiz-container {
      /* padding: 0.25em; */
      background: #f4fbf4;
  
      text-align: center;
  
      max-width: 1000px;
      margin-left: 25%;
      margin-top: 10%;
      margin-bottom: 10%;
      padding: 5% 5%;
  }
  
  .quiz-container a {
      text-decoration: none;
      color: black;
  }
  
  #quiz-header,
  #quiz-start-screen,
  #quiz-results-screen,
  #quiz-counter {
      margin: 3%;
      text-align: center;
  }
  
  .question {
      font-size: 27px;
      text-align: center;
  
      margin: 5%;
  }
  
  .answers {
      /* display: flex; */
      /* margin: 5%; */
      /* margin-left: 45%; */
  
      list-style: none;
      padding: 0;
      text-align: center;
  }
  
  .answers a {
      display: inline-block;
      padding: 0.5em 1em;
      margin-bottom: 0.5em;
      background: #fff;
  
      /* margin-left: 30% !important; */
  }
  
  .answers a.correct {
      background: #090;
  }
  .answers a.incorrect {
      background: #c00;
  }
  
  .answers a.correct,
  .answers a.incorrect {
      color: #fff;
  }
  
  #quiz-controls {
      /* background: #b9d3ba; */
      color: #111;
      padding: 0.25em 0.5em 0.5em;
      text-align: center;
      /* border-radius: 20%; */
  
      background: #ffffffa1;
      border-radius: 10px;
  
      margin-bottom: 5% !important;
  }
  
  #quiz-response {
      margin: 10%;
      text-align: left;
      font-size: 20px !important;
  }
  #quiz-results {
      /* font-size: 20px !important; */
  
      /* background: linear-gradient(to top, #1b8f23 50%, transparent 50%);
  
      margin: 5% 3%; */
  
  
      font-size: 20px !important;
      background: linear-gradient(to top, #78d17e 50%, transparent 50%) !important;
      width: 300px;
      margin: 5% 3%;
      /* text-align: center; */
      margin-left: 30%;
  }
  
  #quiz-buttons a,
  .quiz-container .quiz-button {
      display: inline-block;
      padding: 0.5em 1em;
      /* background: #8ABC8D; */
      color: #8ABC8D;
      font-size: 25px;
  }
  .quiz-button:hover {
      display: inline-block;
      padding: 0.5em 1em;
      /* background: #8ABC8D; */
      color: #1b8f23;
      font-size: 25px;
  }
  
  #quiz-buttons a {
      margin: 5%;
      margin-top: 0;
      /* background: #b0c7b259; */
      color: #8ABC8D;
  
      /* border-radius: 20%; */
      font-size: 18px;
  
  }
  #quiz-buttons a:hover {
      /* margin: 5%; */
      background: #ccdbcd18;
      color: #8ABC8D;
      border-radius: 50%;
  
  }
  
  /* Quiz State Overrides */
  
  .quiz-results-state #quiz-controls {
      background: none;
      padding: 0;
  }
  .quiz-results-state #quiz-buttons a {
      /* background: #8ABC8D;
      color: #fff; */
      padding: 0.5em 1em;
      /* background: #8ABC8D; */
      color: #8ABC8D;
      font-size: 25px;
  }
  
  #quiz-header{
      margin: 5% 5%;
      padding: 4%;
      background: #f4fbf4;
  
  }
  
  li{
      margin-top: 3%;
      margin-bottom: 3%;
  }
  
  .answers a:hover{
      background-color: #8ABC8D;
      color: #fff;
  }